*.o
*.swp
z80asm*
sw/spyvspy/build/*
references/*
testdata/*

kicad/yamashnik.bak

sw/spyvspy/msxnet

sw/spyvspy/spy_bdos_e900.ram

sw/spyvspy/spy_bootstrap.bin

sw/spyvspy/tpa.com
/sw/spyvspy/x64/Debug/vc142.pdb
/sw/spyvspy/x64/Debug/vc142.idb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/yamashnik2/v16/Browse.VC.db
/.vs/yamashnik2/v16/.suo
/sw/spyvspy/x64/Debug/msxnet.log
*.tlog
*.obj
/sw/spyvspy/DDT.COM
/sw/spyvspy/ED.COM
/sw/spyvspy/MAPINIT.COM
/sw/spyvspy/1.txt
/sw/spyvspy/.vs/msxnet/v16/Browse.VC.db
/sw/spyvspy/.vs/msxnet/v16/.suo
/sw/spyvspy/x64/Release/msxnet.exe.recipe
/sw/spyvspy/x64/Release/msxnet.log
/sw/spyvspy/x64/Release/msxnet.vcxproj.FileListAbsolute.txt
*.pdb
*.ipdb
*.iobj
*.log
